body {
  background: {
    color: var(--neutral-very-light-grayish-blue);
    image: url(../images/bg-bottom.svg), url(../images/bg-top.svg);
    repeat: no-repeat;
    position: bottom -200px left 0, top 0 right 0;
  }

  font-family: var(--font-family);
  font-size: var(--fs-text);
}

.pricing {
  color: var(--neutral-dark-grayish-blue);

  &__header {
    margin: 0.5rem 0;
  }
  &__custom {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    color: var(--neutral-light-grayish-blue);
  }
}

.container {
  text-align: center;
  max-width: 1050px;
}

.card-container {
  // layout
  display: flex;
  justify-content: center;
  gap: 1rem;

  // position
  position: relative;
}

.card {
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  border-radius: 0.5rem;
  padding: 1.5rem 1rem;
  width: 35%;

  // layout
  display: flex;
  flex-direction: column;
  // align-items: center;
  justify-content: center;

  // text
  &__text {
    padding: 1rem;
  }

  // learn more
  &__link {
    &-more {
      letter-spacing: 1px;
      margin: 2rem 0 0;
      padding: 1rem;
      text-decoration: none;
      text-transform: uppercase;
      border-radius: 0.3rem;
      background: var(--primary-linear-gradient);
      color: var(--neutral-very-light-grayish-blue);
      font-weight: var(--fw-600);
      transition: 2s all ease-in-out;
    }

    &-more:hover:nth-child(odd) {
      background: var(--neutral-very-light-grayish-blue);
      color: hsl(237, 63%, 64%);

      border: solid 1px hsl(237, 63%, 64%);
    }
  }
}

.card:nth-child(odd) {
  box-shadow: hsl(236, 64%, 85%) 0px 2px 8px 0px;
}

.card:nth-child(odd) hr {
  border: 1px solid var(--neutral-very-light-grayish-blue);
}

.card:nth-child(2) hr {
  border: 1px solid hsl(236, 72%, 79%);
}

// pricing
.annually,
.monthly {
  font-size: 3rem;
  margin: 1rem 0;
}
.annually {
  display: none;
}

.annually.active {
  display: block;
}

.monthly {
  display: block;
}

.monthly.active {
  display: none;
}

// footer
.attribution {
  font-size: 11px;
  text-align: center;
  padding: 1rem;
  a {
    color: hsl(228, 45%, 44%);
  }
}
